tensorflow==1.7
tensorlayer==1.7
scipy
scikit-learn
opencv-python
h5py
matplotlib
Pillow==5.3.0
requests
psutil
progressbar2
mtcnn
pathos
dask
tinytag
docker
torch
torchvision
tensorboardX
certifi==2018.11.29